<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="timer1" class="timer">0</div>
    <div id="timer2" class="timer">1</div>
    <div id="timer3" class="timer">:</div>
    <div id="timer4" class="timer">0</div>
    <div id="timer5" class="timer">0</div>
    <div id="stage">
        <div class="text-wrapper" id="menu-text">
            <article>
                <h1>besturing</h1>
                <span>Gebruik je handen om de snaren te bespelen! <br> Oefen alvast hier!</span>
            </article>

            <article>
                <h1>erasmusbrug</h1>
                <span>Speel en licht de kleuren van de brug op!</span>
            </article>

            <article>
                <h1>luister terug</h1>
                <span>Schrijf na het spelen jouw unieke code op en luister het thuis terug!</span>
            </article>
        </div>

        <div class="text-wrapper" id="id-text" style="display: none">
            <article>
                <h1>www.playthebridge.nl</h1>
                <span>Schrijf jouw unieke code op en ga naar de website om het terug te luisteren!</span>
            </article>
            <div id="id-display"></div>
        </div>
    </div>
    <canvas id="canvas" width="1280px" height="800px"></canvas>
</div>

<script src="//js.leapmotion.com/leap-0.6.4.js"></script>
<script src="/js/socket-connection.js"></script>
<script src="/js/game.js"></script>
</body>
</html>