<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple test</title>
</head>
<body id="Sounds">
<h1>
    <strong>Play the bridge</strong></h1>
    <button onClick="record();">Record</button>
    <button onClick="stop();">Stop</button>
    <button onClick="play();">Play random sound</button>
    <progress min="0" max="100" value="0" id="uploadProgress"></progress>
    <div id="code"><%= title %></div>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/recorder.js"></script>

</body>
</html>