<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta name="SC_CLIENT_ID" content="<%- CLIENT_ID %>" >
    <meta name="SC_TOKEN" content="<%- SC_TOKEN %>" >
</head>
<body id="Sounds">
<h1>
    <strong>Play the bridge</strong></h1>
    <button onClick="record();">Record</button>
    <button onClick="stop();">Stop</button>
    <button onClick="play();">Play random sound</button>
    <progress min="0" max="100" value="0" id="uploadProgress"></progress>
    <div id="code"></div>

<script src="https://www.screencastify.com/libs-api/castify-api.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script src="js/recorder.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>