<!doctype html>
<html lang="<%=  i18n('_meta', 'locale') %>">
<head>
    <%- include('partials/styles.html') %>
    <title><%= i18n('info', 'title') %></title>
</head>
<body>
<%- include('partials/navigation.html') %>

<div id="wrapper2">
    <div id="title2">
        <h1 class="tlt2">"Feel the Music"</h1>
    </div>
    </div>


    <section class="intro"></section>


    <div class="container2">
        <div class="row2">
            <div class="col-sm-4">
                <div class="text">
                    <svg id="first">
                        <defs>
                            <mask id="mask3" x="0" y="0" width="100%" height="100%">
                                <!-- alpha rectangle -->
                                <!-- rectángulo alfa -->
                                <rect id="alpha" x="0" y="0" width="100%" height="100%"/>
                                <text id="title" x="15%" y="0" dy="1.2em">Play the bridge</text>
                            </mask>
                        </defs>
                        <!-- Apply color here! -->
                        <!-- Color aquí -->
                        <rect id="base" x="0" y="0" width="100%" height="40%"/>
                    </svg>
                </div>
                <br>
                <p class="play_text">Door middel van de nieuwste technieken en prachtige muziek wordt de Erasmusbrug nog aantrekkelijker voor
                    artistieke studenten en toeristen.
                    Maar natuurlijk ook voor jouw!
                    <br>

                    Dit gaan wij doen door de “snaren” van de brug te koppelen met LED lampjes.
                    Daarbij wordt op het scherm de brug vertoont zodat je visueel zijn snaren kan bespelen als een harp.
                    Wanneer je de snaren bespeelt zullen de “snaren” op de brug gaan oplichten.
                    Dit zorgt voor een prachtig effect bij de brug waar veel mensen van zullen genieten. Lets Play the Bridge!
                </p>
            </div>

            <div class="col-sm-4">
                <div class="text">
                    <svg id="second">
                        <defs>
                            <mask id="mask2" x="0" y="0" width="100%" height="100%">
                                <!-- alpha rectangle -->
                                <!-- rectángulo alfa -->
                                <rect id="alpha" x="0" y="0" width="100%" height="100%"/>

                                <text id="title" x="20%" y="0" dy="1.2em">Technologie</text>
                            </mask>
                        </defs>
                        <!-- Apply color here! -->
                        <!-- Color aquí -->
                        <rect id="base" x="0" y="0" width="100%" height="40%"/>
                    </svg>
                </div>
                <br>
                <p class="play_text">
                    Het bespelen van de van de “snaren” gaat door middel van een leap motion.
                    Dit is een apparaatje die de beweging van je hand signaleert.
                    Als je je handen beweegt over de leap motion wordt dit weergegeven op de webpagina en kun je de "snaren" bespelen.
                    Daarnaast worden de tonen opgeslagen zodat het zojuist bespeelde nummer later terug kan worden geluisterd.
                    Als de speeltijd voorbij is verschijnt er een code waarmee je het gemaakte nummer terug kunt vinden op de website.
                </p>
            </div>

            <div class="col-sm-4">
                <div class="text">
                    <svg id="third">
                        <defs>
                            <mask id="mask1" x="0" y="0" width="100%" height="100%">
                                <!-- alpha rectangle -->
                                <!-- rectángulo alfa -->
                                <rect id="alpha" x="0" y="0" width="100%" height="100%"/>

                                <text id="title" x="35%" y="0" dy="1.2em">Waar</text>
                            </mask>
                        </defs>
                        <!-- Apply color here! -->
                        <!-- Color aquí -->
                        <rect id="base" x="0" y="0" width="100%" height="40%"/>
                    </svg>
                </div>
                <br>
                <p class="play_text"> Play the bridge is te vinden aan de voet van de Erasmusbrug in Rotterdam.
                    Het doel van dit project is om meer sfeer te brengen aan deze grijze bestemming.
                    Het icoon van Rotterdam krijgt hierdoor de aandacht die zij verdient.

                </p>
            </div>
        </div>
    </div>



    <%- include('partials/scripts.html') %>
</body>
</html>
