<!doctype html>
<html lang="<%=  i18n('_meta', 'locale') %>">
<head>
    <%- include('partials/styles.html') %>
    <title><%=  i18n('info', 'title') %></title>
</head>
<body>
    <%- include('partials/navigation.html') %>



    <div class="container">
        <div class="row">
            <div class="col-sm-4">Play the bridge</div>
            <div class="col-sm-4">Technologie</div>
            <div class="col-sm-4">Waar</div>
        </div>
    </div>

    <%- include('partials/scripts.html') %>
</body>
</html>
